<div id="accordion" *ngIf="(userPolls$ | async) as userPolls; else loading">
  <div class="card" *ngFor="let poll of userPolls; index as i">
    <div class="card-header d-flex justify-content-between" id="headingOne">
      <h5 class="mb-0">
        <button 
          (click)="collapse[i] = !collapse[i]"
          class="btn btn-link" 
          data-toggle="collapse" 
          attr.data-target="#collapse{{i}}"
          [attr.aria-expanded]="collapse[i] ? true : false" 
          attr.aria-controls="collapse{{i}}">
          {{poll.title}}
        </button>
      </h5>
      <button 
        class="btn btn-secondary"
        (click)="deletePoll(i)">
        Delete
      </button>
    </div>
    <div 
      id="collapse{{i}}" 
      class="collapse"
      [ngClass]="{'show': collapse[i]}"
      attr.aria-labelledby="heading{{i}}" 
      data-parent="#accordion">
      <div class="card-body">
        <app-poll-result *ngIf="collapse[i]" [result]="poll"></app-poll-result>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading stuf...
</ng-template>
