<button 
  (click)="toggle = !toggle"
  class="navbar-toggler ml-auto" 
  type="button" 
  data-toggle="collapse" 
  data-target="#navbarNavDropdown" 
  aria-controls="navbarNavDropdown" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div 
  [ngClass]="{'toggle': toggle}"
  class="collapse navbar-collapse" 
  id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <li 
      *ngIf="!user"
      class="nav-item active">
      <a class="nav-link" routerLink="/sign-in">Sign in</a>
    </li>
    <li 
      *ngIf="!user"
      class="nav-item">
      <a class="nav-link" routerLink="/sign-up">Sign up</a>
    </li>
    <li 
      *ngIf=user
      class="nav-item">
      <a class="nav-link" (click)="logOut()">Log out</a>
    </li>
  </ul>
</div>