<div class="card text-center" *ngIf="(poll$ | async) as poll; else loading">
  <div class="card-header">
    {{poll.title}}
  </div>
  <div class="card-body">
    <p>{{poll.author}}</p>
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
      <div class="custom-control custom-radio" *ngFor="let field of poll.fields; index as i">
        <input type="radio" formControlName="poll" [id]="i" [value]="field.name" class="custom-control-input">
        <label class="custom-control-label" [for]="i">{{field.name}}</label>
      </div>
      <button [disabled]="!!pollForm.invalid" type="submit"class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Number of options: {{poll.fields.length}}
  </div>
</div>

<ng-template #loading>
  Loading stuff...
</ng-template>
