<div class="card text-center">
  <div class="card-header">
      Who is your favorite captain?
  </div>
  <div class="card-body">
    <p>by Author</p>
    <form>
      <div class="input-group options">
        <div class="input-group-prepend">
          <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button" readonly>
      </div>
      <div class="input-group options">
        <div class="input-group-prepend">
          <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button" readonly>
      </div>
      <div class="input-group options">
        <div class="input-group-prepend">
          <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button" readonly>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Number of options: XXX
  </div>
</div>