<div class="card text-center">
  <div class="card-header">
    New Poll
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="card-title" for="exampleInputEmail1">Name your poll</label>
        <input 
          formControlName="title"
          type="text" 
          class="form-control" 
          placeholder="Poll title">
      </div>
      <div formArrayName="items" class="form-group options">
        <label for="last">Options</label>
        <input 
          *ngFor="let itemControl of form.get('items')['controls']; index as i; last as last"
          [id]="last ? 'last' : ''"
          type="text" class="form-control" 
          [formControlName]="i" 
          placeholder="Poll item">
      </div>
      <button (click)="addItem()" type="button" class="btn btn-light">Add item</button>
      <button [disabled]="!!form.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Number of options: {{items.length}}
  </div>
</div>
