
<nav>
  <app-navigation  class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"></app-navigation>
</nav>

<header>
 <app-dashboard class="jumbotron jumbotron-fluid d-flex justify-items-center"></app-dashboard>
</header>

<a routerLink="/feedback">Feedback</a>
<a routerLink="/poll-vote">Vote</a>
<a routerLink="/new-poll">New Poll</a>
<a routerLink="/result">result</a>
<a routerLink="/user-polls">User polls</a>

<router-outlet></router-outlet>

<footer>
  <app-credits></app-credits>
</footer>
